body {
    margin: 0;

    font-family: "Smythe", system-ui;
    font-style: normal;
} 

header{
    position: relative;
    left: 50%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header-banner-img{
    width: 600px;
    height: 167px;
    transform: translateX(-50%);
}

#header-text{
    position: absolute;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    left: 0;
    top: 56px;
    transform: translateX(-100%);
    
}
#header-title,
#header-slogan{
    font-weight: 100;
    margin: 0;
}

#header-title{
    font-size: 39px;
}

#header-slogan{
    font-size: 22px;
}

/* START - This is for the menu item */
#menu-items-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-item,.menu-item-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-item{
    width: 508px;
    height: 140px;
    border-bottom: #D2D2D2 solid 1px;
}
.menu-item-description{
    gap: 10px;
}
.menu-item-description-text{
    display: flex;
    flex-direction: column;
    
}

.menu-item-name,
.menu-item-ingredients,
.menu-item-price{
    margin: 0;
    padding: 0;
    font-weight: 100;
}
.menu-item-ingredients{
    color: #8B8B8B;
    padding-bottom: 7px;
}
.menu-item-price{
    font-size: 20px;
}

.menu-item-description-emoji{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    line-height: 1;
    width: 80px;
}

.menu-item-button{
    font-family: "Inter";
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    border-color: #DEDEDE;
    font-size: 32px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    font-weight: 200;
}

.menu-item-button:hover{
    transition: background-color 0.5s ease;
    background-color: rgb(206, 245, 147);
}

.menu-item-button:active{
    background-color: rgb(10, 121, 0);
}


/* END - This is for the menu item */

/* START - This is for the pay section at the bottom */

.pay-section{
    width: 508px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 50px;
}

#pay-section > h1{
    align-self: center;
    font-weight: normal;
}

#pay-item-lines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    font-size: 28px;
}

.pay-item-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.pay-item-line-price{
    font-size: 20px;
}

.pay-item-line-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pay-item-line-name{
    padding: 0;
    margin: 0;
}

.pay-item-remove-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #BBBBBB;
    background-color: white;
    margin: 0;
    padding: 5px 10px;
    vertical-align: middle;
    line-height: normal;
    
}

.pay-item-remove-btn:hover{
    cursor: pointer;
    text-decoration:underline;
}


/* Pay button style */
#confirm-btn,
#card-pop-up-pay-btn{
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
    font-family: Verdana;
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0;
    width: 100%;
}

#confirm-btn:hover,
#card-pop-up-pay-btn:hover{
    transition: background-color 0.5s ease;
    background-color: #109c6d;
}

#confirm-btn:active,
#card-pop-up-pay-btn:active{
    background-color: rgb(10, 101, 2);
}

.total{
    border-top: #000000 solid 2px;
    margin-top: 20px;
    padding-top: 10px;
}
/* END - This is for the pay section at the bottom */


/* START - Card details form */
.card-pop-up{
    display: flex;    

}
#card-pop-up{
    position: absolute;
    background-color: white;
     /* this will be set to none or flex*/
    z-index: 5;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 524px;
    height: 542px;
    box-shadow: 0 0 100px 10px black;
    padding: 0 30px;
    gap: 20px;
}

.card-pop-up-overlay{
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(16,156,109, .2);
}

#card-pop-up-title{
    font-family: Verdana;
    font-size: 24;
    font-weight: bold;
    align-self: center;
}

#card-pop-up-name,
#card-pop-up-card,
#card-pop-up-cvv{
    height:71px;
    font-family: Verdana;
    font-size: 20;
    border-radius: 3px;
    padding-left: 30px;
}

#card-pop-up-pay-btn{
    margin-top: 30px;
}
/* END - Card details form */

#confirm-message > h1{
    margin-top: 20px;
    background-color: #ECFDF5;
    color: #065F46;
    padding: 40px 50px;
    font-weight: 100;
    font-size: 32;
}


.hide{
    display: none;
}